@import url(/sass/_display.scss);
@import url(/sass/_nav.scss);
@import url(/sass/_loader.scss);
*{
    box-sizing: border-box;
}   
body{
    background-repeat: no-repeat;
    font-family: "Sofadi One", serif;
    background: linear-gradient(to right , #3fefff , #8499f5);
}
main{
    max-width: 1220px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    width: 100% ;
    height: auto;
    min-height: 1000px;
    overflow: hidden;
    grid-template-columns: 1fr ;
    grid-template-areas: 
        "nav "
        "display"
    ;
    position: relative;
    // overflow: hidden;
    button,
    input{
        font-family: inherit;
    }
  
}
@media (width <= 710px) {
    main{
        height: auto;
        padding: 0;
    }
}